.marketing{
    width: auto;
    padding-bottom: 150px;
}
.order{
    background-color: black;
    padding: 5px 20px;
    color: white;
    margin: 5px 0;
    border: 2px solid black;
    transition: all 0.5s;
}
.order:hover{
    background-color: transparent;
    color:black;
}
.little-text{
    margin: 5px 0px !important;
}
.myproducts{
    width: 1440px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.proContents>img{
    padding: 0;
    width: 300px;
    height: 300px;
}
.e-title{
    font-size: 22px;
}
.text-side>.price{
    font-weight: 700;
}
.proContents{
    margin: auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

@media only screen and (max-width:1400px){
  
    .myproducts{
        width: auto;
    }
    .proContents>img{
        padding: 0;
        width: 300px;
        height: 300px;
    }
    
}